<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
	  <add name="NTT_POS" connectionString="data source=localhost;initial catalog=ACS_POS;user id=admin;password=admin12345;multipleactiveresultsets=true;"
      providerName="system.data.sqlclient" />
    <!--<add name="Cridomark_POS" connectionString="data source=localhost;initial catalog=Cridomark_POS;user id=admin;password=admin12345;MultipleActiveResultSets=true;"
      providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="ReceiptNumberStart" value="1" />
    <add key="ReceiptFormat" value="{0:00000}" />
    <add key="PrintStatus" value="ON" />
	<add key="LogInAttemptCount"  value="5"/>
	<add key ="LightTheme" value="false"/>
  </appSettings>
</configuration>