<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <!--<add connectionString="data source=localhost;initial catalog=Cridomark_POS;user id=admin;password=admin12345;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" name="Cridomark_POS" />-->
	  <add name="NTT_POS" connectionString="data source=localhost;initial catalog=ACS_POS;user id=admin;password=admin12345;multipleactiveresultsets=true;"
      providerName="system.data.sqlclient" />
  </connectionStrings>
</configuration>